{% extends 'admin/base.html.twig' %} {% import "macros/links.html.twig" as links %} {% block title %} User {% endblock %} {% block body %}
<div class="card card-outline card-lightblue">
    <div class="card-header">
        <h3>
            Responsable Departement : <i> {{user.responsable.departement.designation}}</i>
        </h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                Prenom

                            </th>
                            <td>
                                {{ user.personne.prenom }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Nom

                            </th>
                            <td>
                                {{ user.personne.nom }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Profession

                            </th>
                            <td>
                                {{ user.personne.profession }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Email


                            </th>
                            <td>
                                {{ user.email }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Etat du compte


                            </th>
                            <td>
                                {{ user.etat }}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Roles


                            </th>
                            <td>
                                {% for role in user.roles %} {% if role == "ROLE_RESPONSABLE_DEPARTEMENT" %} Responsable {% elseif role == "ROLE_ADMIN" %} Administrateur {% elseif role == "ROLE_ETUDIANT" %} Etudiant {% else %} Utilisateur {% endif %} {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Departement En Charge


                            </th>
                            <td>
                                {{ user.responsable.departement.designation }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Ajouté Le


                            </th>
                            <td>
                                {{ user.personne.getCreatedAt ? user.personne.getCreatedAt|date_format_fr: '' }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                IsVerified
                            </th>
                            <td>
                                {{ user.isVerified ? 'Yes' : 'No' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                Villa Numero

                            </th>
                            <td>
                                {{ user.personne.adresse.getNumeroVilla }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Quartier
                            </th>
                            <td>
                                {{ user.personne.adresse.quartier }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rue
                            </th>
                            <td>
                                {{ user.personne.adresse.rue }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Pays
                            </th>
                            <td>
                                {{ user.personne.adresse.pays }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Ville
                            </th>
                            <td>
                                {{ user.personne.adresse.ville }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btn-group">
            {{ links.back(path('admin_responsable_departement_index')) }} {{ links.edit(path('admin_responsable_departement_edit', {'id': user.id})) }}
        </div>
    </div>

</div>
{% endblock %}