{% extends 'admin/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            User
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Nom et prenom</dt>
            <dd class="col-sm-8">{{ user.personne.fullName }}</dd>
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">{{ user.email }}</dd>
            
            {% if app.request.attributes.get('_route') == 'admin_professeur_show' %}
            <dt class="col-sm-4">Titre</dt>
            <dd class="col-sm-8">{{ user.professeur.titre }}</dd>
            {% endif %}
            <dt class="col-sm-4">IsVerified</dt>
            <dd class="col-sm-8">{{ user.isVerified ? 'Yes' : 'No' }}</dd>
        </dl>
        <div class="btn-group">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-dark" href="{{ path('user_index') }}">back to user list</a>
            <a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
            {% endif %}
            {% if app.request.attributes.get('_route') == 'admin_professeur_show' %}

            <a class="btn btn-dark" href="{{ path('admin_professeur_index') }}">back to list</a>
            <a class="btn btn-primary" href="{{ path('admin_professeur_edit', {'id': user.professeur.id}) }}">edit Professeur</a>
            {% endif %}
        </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock %}
