{% extends 'admin/base.html.twig' %}
{% import "macros/link.html.twig" as links %}
{% import "macros/button.html.twig" as buttons %}

{% block title %}Edit Formation
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<h3>Edit Formation</h3>
		</div>
		<div class="card-body">
			{{form_start(form)}}
			{{form_row(form.designation)}}
			{{form_row(form.cout)}}
			<div class="btn-group">
				{{ links.back(path('admin_formation_index')) }}
				{{buttons.edit()}}
			</div>
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
