{% import "macros/dataTable.html.twig" as dataTable %}
{% extends 'admin/base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block head %}
    {{ dataTable.css() }}
{% endblock %}

{% block foot %}
    {{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
    {{ dataTable.script('#table-1') }}
{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Formations</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('admin_formation_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
        <table id="table-1" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Designation</th>
                    <th>Cout</th>
                    <th>Créé le</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                <tr>
                    <td>{{ formation.id }}</td>
                    <td>{{ formation.designation }}</td>
                    <td>{{ formation.cout }}</td>
                    <td>{{ formation.createdAt ? formation.createdAt|date_format_fr : '' }}</td>
                    <td>
                        <a href="{{ path('admin_formation_show', {'id': formation.id}) }}" class="btn btn-dark"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('admin_formation_edit', {'id': formation.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}