{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-group">
        <a href="{{ path('admin_classe_index') }}">back to list</a>
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
