{% extends 'admin/base.html.twig' %}
{% import "macros/button.html.twig" as button %}
{% import "macros/link.html.twig" as link %}

{% block title %}
	Edit Filiere
{% endblock %}

{% block body %}
	<div class="card card-outline card-success">
		<div class="card-header">
			<h3>Edit Filiere</h3>
		</div>
		<div class="card-body">
			{{form_start(form)}}
			{{form_row(form.code)}}
			{{form_row(form.designation)}}
			{{form_row(form.departement)}}
			<div class="btn-group">
				{{link.back(path('admin_filiere_index'))}}
				{{button.edit()}}
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
