{% extends 'admin/base.html.twig' %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/links.html.twig" as links %}
{% import "macros/alertes.html.twig" as alertes %}

{% block head %}
    {{ dataTable.css() }}
{% endblock %}

{% block foot %}
    {{ dataTable.js() }}
{% endblock %}
{% block javascripts %}
    {{ dataTable.script("#table-1") }}
{% endblock %}

{% block title %}
    Filiere 
{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    {{alertes.alert(message,'success')}}
{% endfor %}
    <div class="card card-outline card-primary mb-10">
        <div class="card-header">
            <h1>
                Filieres 
                                            
                            
            </h1>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col">
                    {{ links.new(path('admin_filiere_new')) }}
                </div>
            </div>
            {% if filieres %}

                <table class="table" id="table-1">
                    <thead>
                        <tr>
                            <th>
                                Code
                                                                                                                    
                                                                                            
                                                            
                            </th>
                            <th>
                                Designation
                                                                                                                    
                                                                                            
                                                            
                            </th>
                            <th>
                                Options
                                                                                                                    
                                                                                            
                                                            
                            </th>
                            <th>
                                Departement Appartenance
                                                                                                                    
                                                                                            
                                                            
                            </th>
                            <th>
                                Created at
                                                                                                                    
                                                                                            
                                                            
                            </th>
                            <th>
                                actions                      
                                                                                            
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for filiere in filieres %}
                            <tr>
                                <td>
                                    {{ filiere.code }}
                                </td>
                                <td>
                                    {{ filiere.designation }}
                                </td>
                                <td>
                                    {% for Options in filiere.options %}
                                        {% if Options.filiere | length == 0 %}
                                            Aucune Option 
                                                                                                                                
                                                                                    
                                        {% else %}
                                            {{ Options.code }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ filiere.departement.designation }}
                                </td>
                                <td>
                                    {{ filiere.createdAt ? filiere.createdAt|date_format_fr : '' }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        {{ links.show(path('admin_filiere_show', {'id': filiere.id})) }}
                                        {{ links.edit(path('admin_filiere_edit', {'id': filiere.id})) }}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    no records found
                                                                                                            
                                                                                                            
                                                                                                                                
                                                                                                        
                                                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="btn btn-warning">
                    Aucune Filiere n'a été créée 
                                                        
                                    
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
