{% extends 'admin/base.html.twig' %}
{% import "macros/buttons.html.twig" as buttons %}
{% import "macros/links.html.twig" as links %}


{% block title %}
	Edit Matiere
{% endblock %}

{% block body %}
	<div class="card card-outline card-success">
		<div class="card-header">
			<h3>Edit Matiere</h3>
		</div>
		<div class="card-body">
			{{form_start(form)}}
			{{form_row(form.code)}}
			{{form_row(form.designation)}}

			<div class="btn-group">
				{{links.back(path('admin_matiere_index'))}}
				{{buttons.edit()}}
			</div>
			{{form_end(form)}}

		</div>
	</div>
	{#	<a href="{{ path('admin_matiere_index') }}">back to list</a>
		#}
{% endblock %}
