{% import "macros/dataTable.html.twig" as dataTable %}
{% extends 'admin/base.html.twig' %} 

{% block title %}
Matieres
{% endblock %} 

{% block head %}
{{ dataTable.css() }} 
{% endblock %}

{% block foot %} 
{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
{{ dataTable.script('#table-1') }} 
{% endblock %}

{% block body %}

<div class="card card-outline card-primary">

    <div class="card-header">
        <h3>Matieres</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('admin_matiere_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
        <table class="table" id="table-1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Designation</th>
                    <th>Created_at</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for matiere in matieres %}
                <tr>
                    <td>{{ matiere.id }}</td>
                    <td>{{ matiere.code }}</td>
                    <td>{{ matiere.designation }}</td>
                    <td>{{ matiere.createdAt ? matiere.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('admin_matiere_show', {'id': matiere.id}) }}">show</a>
                        <a href="{{ path('admin_matiere_edit', {'id': matiere.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> {% endblock %}