{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/links.html.twig" as links %}
{% import "macros/dataTable.html.twig" as dataTable %}

{% extends 'admin/base.html.twig' %}


{% block head %}
  {{ dataTable.css() }}
{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Manage user',[
        {
            path:path('user_index'),
            name:'Manage Users'
        }
    ])}}
{% endblock %}
{% block title %}Users{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
  {{ alerte.alert(item,'success')}}
{% endfor %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">user unregister</span>
            <span class="info-box-number"> {{ users|length }} </span>
            </div>
            <!-- /.info-box-content -->
        </div>
            <!-- /.info-box -->
    </div>

    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h4>User index</h4>
            </div>
            <div class="card-body">
                <div class="btn-group mb-3">
                    <a class="btn btn-primary" href="{{ path('user_new') }}">Create new <i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                <table id="datatable_1" class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Is Verified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>
                            {% for item in user.roles %}
                                {% if item == 'ROLE_ADMIN' %}
                                    Admin
                                {% elseif item == 'ROLE_CLIENT' %}
                                    Client
                                {% elseif item == 'ROLE_EDITOR' %}
                                    Editeur
                                {% endif %}
                            {% endfor %}
                            <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                            <td>
                                <div class="btn-group">
                                    {{ links.edit(path('user_edit', {'id': user.id}))}}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ links.delete(path('user_show', {'id': user.id})) }}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <div class="btn-group">
                {{ links.back(path('admin'), 'back to dashboard') }}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ dataTable.js() }}
    {{ dataTable.script('#datatable_1') }} 
    {{ dataTable.script('#datatable_2') }} 
{% endblock %}