{% extends 'base.html.twig' %}

{% block title %}Cour{% endblock %}

{% block body %}
    <h1>Cour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour.date ? cour.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ cour.debut ? cour.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ cour.fin ? cour.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_cour_index') }}">back to list</a>

    <a href="{{ path('admin_cour_edit', {'id': cour.id}) }}">edit</a>

    {{ include('admin/cour/_delete_form.html.twig') }}
{% endblock %}
