{% import "macros/dataTable.html.twig" as dataTable %}
{% extends 'admin/base.html.twig' %}

{% block head %}
	{{ dataTable.css() }}
{% endblock %}

{% block foot %}
	{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
	{{ dataTable.script("#table-1") }}
{% endblock %}

{% block title %}
	Departements
{% endblock %}

{% block body %}
	<div class="card card-outline card-primary">
		<div class="card-header">
			<h3>Departement</h3>
		</div>

		<div class="card-body">
			<div class="row mb-3">
				<div class="col">
					<a href="{{ path('admin_departement_new') }}" class="btn btn-primary">Create new</a>
				</div>
			</div>
			<table class="table" id="table-1">
				<thead>
					<tr>
						<th>Id</th>
						<th>Code</th>
						<th>Designation</th>
						<th>Created_at</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for departement in departements %}
						<tr>
							<td>{{ departement.id }}</td>
							<td>{{ departement.code }}</td>
							<td>{{ departement.designation }}</td>
							<td>{{ departement.createdAt ? departement.createdAt|date_format_fr : '' }}</td>
							<td>
								<a href="{{ path('admin_departement_show', {'id': departement.id}) }}" class="btn btn-dark"><i class="fas fa-eye"></i></a>
								<a href="{{ path('admin_departement_edit', {'id': departement.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
