{% import "macros/links.html.twig" as links %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 col-12">
        {{ form_row(form.user.personne.nom) }}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.user.personne.prenom)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.user.email)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.user.personne.profession)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.titre)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.matieres)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.user.personne.avatar)}}
    </div>
    <div class="col-md-6 col-12">
        {{ form_row(form.user.etat)}}
    </div>
    <div class="col-md-12 col-12">
        {{ form_row(form.user.isVerified)}}
    </div>
    

    {{ form_widget(form) }}
        <div class="btn-group">
            {{ links.back(path('admin_professeur_index')) }}
            {# {{ buttons.add() }} #}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
</div>
{{ form_end(form) }}
