{% extends 'admin/base.html.twig' %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/links.html.twig" as links %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/alertes.html.twig" as alertes %}

{% block title %}Professeurs{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Professeurs') }}
{% endblock %}

{% block head %}
    {{ dataTable.css() }}
{% endblock %}

{% block foot %}
    {{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
    {{ dataTable.script('#table-1') }}
{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
    {{ alertes.alert(item,'success')}}
{% endfor %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Professeurs</h3>
    </div>
    <div class="card-body">
        <div class="btn-group mb-3">
            {{ links.new(path('admin_professeur_new')) }}
        </div>
        <table class="table" id="table-1">
            <thead>
                <tr>
                    <th>Professeur</th>                    
                    <th>Titre</th>                    
                    <th>Matières</th>
                    <th>Etat</th>                    
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in professeurs %}
                <tr>
                    <td>{{ item.user.personne.fullName }}</td>
                    <td>{{ item.titre|upper }}</td>
                    <td>
                        {% for item in item.matieres %}
                            {{ item.designation }}
                        {% endfor %}
                    </td>
                    <td>{{ item.user.etat }}</td>
                    <td>
                        <div class="btn-group">
                            {{ links.show(path('admin_professeur_show', {'id': item.user.id}))}}
                            {{ links.edit(path('admin_professeur_edit', {'id': item.id}))}}
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
{% endblock %}